<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Db</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="insertUser">
        <form action="instert.php" method="POST">
            <h3>User Toevoegen</h3>
            <input type="text" placeholder="firstname" name="firstname"><br><br>
            <input type="text" placeholder="lastname" name="lastname"><br><br>
            <input type="submit">
        </form>
        <br>
    </div>
</body>
</html>