html, body {
    max-height: 100%;
    max-width: 100%;
    background: #2C3E50;
}

.container {
    display: contents;
}

/* footer start */
#footer{ 
    background: #1ABC9C;
    height: 50px;
}

#footer a {
    color: black;
}

#footer li {
    display: inline-block;
    margin-right:10px;
}
/* footer end */

/* navbar start */
#navbar{
 background-color: #1ABC9C;
}

#navbar a {
    color: black;
}
/* navbar end */


/* cards element start */
.card {
    margin: 50px;

}
/* cards element end */