html, body {
    width: 99%;
    max-height: 100%;
    max-width: 100%;
    background: #2C3E50;
    /* background: #eaeaea; */
}

.container {
    display: contents;
}

#logo{
    height: 40px;
    margin-right: 16px;
}
/* 
.logoText {
    display: inline;
    font-size: 12px; 
} */
/* footer start */
#footer{ 
    /* margin: 5rem; */
    background: #1ABC9C;
    height: 50px;
}

#footer a {
    color: black;
}

#footer li {
    display: inline-block;
    margin-right:10px;
}
/* footer end */

/* navbar start */
#navbar{
 background-color: #1ABC9C;
}

#navbar a {
    color: black;
}
/* navbar end */


/* cards element start */
.card {
    margin: 50px;
    width: 300px;
}
/* cards element end */

/* standard button style start */
.button {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    background: #16A085;
    padding: 10px 10px;
    border-radius: 4px;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}
  
.glow-button:hover {
    color: #ffffff;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
/* standard button style end */


#insertForm {
    /* background-color: rgb(27, 50, 73); */
}


.business-hours {
    margin-top: 100px;
    color: white;
}

/* garbage */
#ProductDetails {
    color: white;
    margin-top: 100px;
}